.pa-blog .et_pb_post .post-meta{
    position: absolute;
    bottom: 0px;
}

.pa-blog .et_pb_post .post-meta a {
		background-color: #049ae4;
    color: #ffffff!important;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
}

article > .pa-blog .et_pb_post .post-meta::first-line {
  color: transparent;
}